/*-------------- catalog-menu-main -----------------*/
.catalog-menu-main{
	&,
	&__item{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&:not(:last-child){margin-bottom: 3.5rem;}

	&__item{
		font-family: var(--font-tenor);
		font-size: 1.8rem;
		line-height: 1.33;
		color: var(--color-black);
		text-transform: uppercase;
		letter-spacing: 1.2px;

		&:not(:last-child){margin-bottom: 0.8rem;}

		a{
			color: var(--color-black);
			text-decoration: none;
			margin-left: -18px;
			transition: all 0.2s ease 0s;

			&::before{
				content: '';
				display: inline-block;
				width: 10px;
				height: 10px;
				background: url(../img/design-star-orange.svg) no-repeat center;
				margin-right: 8px;
				transform: scaleX(0);
				transition: transform 0.2s ease 0s;
			}
		}
	}

	&__item.active a,
	&__item a:hover{
		color: var(--color-orange);
		margin-left: 0;
	}
	
	&__item.active a::before,
	&__item a:hover::before{
		transform: scaleX(1);
	}

	&_column{
		column-count: 3;
		gap: 20px;
	}
}

@media (max-width: 991px) {
	.catalog-menu{
		&__item{font-size: 4rem;}
	}
}

@media (max-width: 767px) {
	.catalog-main-wrap{
		padding: 20px 0;

		&__content{
			position: relative;
			background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: rgb(189, 112, 94); stroke-width: 1; stroke-dasharray: 20 20'/></svg>");
			text-align: center;
			padding: 46px 10px;
			position: relative;

			&::before{
				content: "";
				display: block;
				width: 32px;
				height: 54px;
				background: url(../img/pin.svg) no-repeat center;
				background-size: contain;
				position: absolute;
				top: -30px;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}

		.catalog-menu{
			margin: 0;

			&__item:not(:last-child){margin-bottom: 28px;}
		}
	}

	.catalog-menu-main{
		display: flex;
		gap: 10px;
		border-bottom: 1px solid #F6F4F3;
		margin-left: -16px;
		margin-right: -16px;
		padding-left: 16px;
		padding-right: 16px;
		overflow-x: auto;

		&__item{
			white-space: nowrap;
			position: relative;
			margin: 0;

			&.active::after{
				content: '';
				width: 100%;
				height: 1px;
				background: var(--color-orange);
				position: absolute;
				bottom: 0;
				left: 0;
			}

			&.active a::after{
				content: '';
				flex-shrink: 0;
				display: inline-block;
				width: 10px;
				height: 10px;
				background: url(../img/design-star-orange.svg) no-repeat center;
				margin-left: 8px;
				transition: transform 0.2s ease 0s;
			}
		}

		&__item:not(:last-child){margin: 0;}
		&_column{column-count: 1;}
	}
}