/*-------------- collections -----------------*/
.collections{
	&__btn{
		margin-top: 6rem;
		text-align: center;
	}
}

.collections-list{
	display: flex;
	flex-wrap: wrap;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;

	&::after{
		content: '';
		display: block;
		width: 334px;
		height: 56px;
		background: url(../img/texture-crosses.svg) no-repeat center;
		background-size: contain;
		position: absolute;
		bottom: -24px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__img{
		display: block;
		width: 33.33%;
		transition: opacity 0.2s ease;

		img{width: 100%;}

		&:hover{opacity: 0.6;}
	}
}