/*-------------- page-title -----------------*/
.page-title{
	background-color: #f6f4f3;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 120px;

	&__content{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 344px;
		position: relative;

		&::after{
			content: '';
			display: block;
			width: 272px;
			height: 52px;
			background: url(../img/texture-crosses-short.svg) no-repeat center;
			background-size: contain;
			position: absolute;
			top: -26px;
			right: 0;
		}
	}

	&__text{
		font-size: 5.2rem;
		font-weight: normal;
		line-height: 1.15;
		color: var(--color-orange);
		text-align: center;
		margin: 0;
	}

	&_dark &__text{color: #fff;}
	&_dark &__content::after{display: none;}
}

@media (max-width: 991px) {
	.page-title{margin-bottom: 100px;}
}

@media (max-width: 767px) {
	.page-title{
		&__content{
			height: 266px;

			&::after{
				content: '';
				display: block;
				width: 232px;
				height: 38px;
				background-image: url(../img/texture-crosses.svg);
				position: absolute;
				top: auto;
				bottom: -19px;
				right: 0;
				left: 0;
				margin: 0 auto;
			}
		}
	
		&__text{font-size: 3.6rem;}
		&_dark &__content::after{display: block;}
	}
}