/*-------------- product-success -----------------*/
.product-success{
	width: 347px;
	background: var(--color-grey);
	padding: 16px;
	position: fixed;
	top: 77px;
	right: 27px;
	z-index: 1000;

	&__content{
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__img-wrap{
		width: 100px;
		height: 134px;
		background: #fff;
		position: relative;
	}

	&__img{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: transform 0.2s ease;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title{
		font-size: 1.6rem;
		font-weight: 800;
		line-height: 1.25;
		color: var(--color-dark);

		a{
			color: var(--color-dark);
			text-decoration: none;
			transition: all 0.2s ease;

			&:hover{
				color: var(--color-orange);
  				text-decoration: none;
			}
		}
	}

	&__price{
		font-size: 1.6rem;
		font-weight: 800;
		line-height: 1.25;
		color: var(--color-orange);
		margin-top: 12px;
	}

	.btn{
		width: 100%;
		margin-top: 24px;
	}
}

.product-success-params{
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 32px;

	&__item{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: 1px solid #DEDEDE;
		font-family: var(--font-tenor);
		font-size: 1.4rem;
		line-height: 1;
		color: #555;
		text-transform: uppercase;
	}

	&__item_color{
		border: none;
	}
}

@media (min-width: 768px) {
	.product-success-mobile{display: none;}
}

@media (max-width: 767px) {
	.product-success{display: none;}

	.product-success-mobile{
		width: 100vw;
		height: 80vh;
		background: #fff;
		border-radius: 16px 16px 0 0;
		padding: 53px 20px 60px;
		overflow-y: auto;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 1000;

		&::after{
			content: '';
			display: block;
			width: 110px;
			height: 4px;
			background: #D3D0CB;
			border-radius: 4px;
			position: absolute;
			top: 16px;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		&__close{
			position: absolute;
			top: 16px;
			right: 16px;

			.icon{display: block;}
		}

		&__title{
			font-family: var(--font-tenor);
			font-size: 1.8rem;
			line-height: 1.33;
			color: var(--color-black);
			text-align: center;
			letter-spacing: 1.21px;
			text-transform: uppercase;
			margin-bottom: 16px;
		}

		&__subtitle{
			font-size: 1.4rem;
			font-weight: 800;
			line-height: 2;
			color: var(--color-black);
			text-transform: uppercase;
			margin-bottom: 12px;
		}

		.catalog-list .container{
			padding-left: 0;
			padding-right: 0;
		}

		&__btn{
			position: fixed;
			left: 16px;
			right: 16px;
			bottom: 12px;

			.btn{width: 100%;}
		}
	}
}