/*-------------- progress -----------------*/
.progress{
	&__line-begin,
	&__line-last{
		stroke: #FCF9EC;
		stroke-opacity: 0.15;
		stroke-width: 2;
	}

	&__line-color-begin,
	&__line-color-last{
		stroke: #FCF9EC;
		stroke-opacity: 1;
		stroke-width: 2;
		stroke-dasharray: 1000;
	}

	&__line-color-begin{
		animation: dash-begin 5s linear alternate 1;
		stroke-dashoffset: 0;
	}

	&__line-color-last{
		animation: dash-last 5s linear alternate 1 5s;
		stroke-dashoffset: 1000;
		animation-fill-mode: forwards;
	}

	&__needle{fill:#FCF9EC;}
}

@keyframes dash-begin {
	from{stroke-dashoffset: -922;}
	to{stroke-dashoffset: 0;}
}

@keyframes dash-last {
	from{stroke-dashoffset: 922;}
	to{stroke-dashoffset: 0;}
}

@media (max-width: 991px) {
	.promo{
		&__title{font-size: 5.4rem;}
	}
}