/*-------------- slider-sect -----------------*/
.slider-sect{
	box-sizing: border-box;

	&__item{
		background-repeat: no-repeat;
		background-position: left center;
		background-size: cover;
		text-align: center;
		position: relative;
	}

	&__content{
		width: 100%;
		padding: 53px 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		box-sizing: border-box;

		.btn{min-width: 332px;}
	}

	&__title{
		font-family: var(--font-tenor);
		font-size: 6.4rem;
		line-height: 1.125;
		letter-spacing: 1.2px;
		color: #FCF9EC;
		text-align: center;
		text-transform: uppercase;
	}

	&__num{
		font-family: var(--font-tenor);
		font-size: 5.2rem;
		line-height: 1;
		color: rgba(252, 249, 236, 0.5);
		letter-spacing: 1.2px;
		text-transform: uppercase;
		position: absolute;
		top: 30px;
		right: 50px;
		transition: all 0.2s ease 0s;
		z-index: 2;
	}

	// &__link{display: none;}
}

body .slider-sect .swiper-horizontal > .swiper-pagination-bullets,
body .slider-sect .swiper-pagination-bullets.swiper-pagination-horizontal{
	position: static;
	margin: 30px 0 38px;
}

.slider-sect-img{
	height: 832px;

	&__slide{
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&::after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: url(../img/shadow.png);
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

@media (max-width: 991px) {
	.slider-sect{
		&__title{font-size: 4rem;}
	}

	.slider-sect-img{height: 632px;}
}

@media (min-width: 768px) {
	.slider-sect{
		display: block!important;
		& > .swiper-wrapper{display: flex!important;}

		&__item{
			width: 25%!important;
			transition: width 0.2s ease 0s!important;
		}

		&__item.active{
			flex-shrink: 0;
			width: 50%!important;
		}

		&__content{opacity: 0;}

		&__item.active &__content{
			opacity: 1;
			transition: all 0s ease 0.2s;
		}

		.swiper-button-prev,
		.swiper-button-next{
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.slider-sect{
		margin-left: -16px!important;
		margin-right: -16px!important;

		&__title{margin-bottom: 40px;}

		.swiper-button-prev.swiper-button-disabled,
		.swiper-button-next.swiper-button-disabled{
			display: none;
		}

		.swiper-button-prev,
		.swiper-button-next{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			z-index: 10;

			.icon{
				width: 30px;
				color: #fff;
			}

			&::after{display: none;}
		}

		.swiper-button-prev{left: 25px;}
		.swiper-button-next{right: 25px;}

		&__num{
			right: auto;
			left: 45px;
		}

		// &__link{
		// 	display: block;
		// 	width: 100%;
		// 	height: 100%;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// }

		&__btn{display: none;}
	}

	body .slider-sect .swiper-horizontal > .swiper-pagination-bullets,
	body .slider-sect .swiper-pagination-bullets.swiper-pagination-horizontal{
		gap: 0;
		width: calc(100% - 32px);
		margin: 0;
		position: absolute;
		top: auto;
		bottom: 25px;
		left: 16px;
	}

	body .slider-sect .swiper-pagination-bullet{
		width: 100%;
		height: 1px;
		background: #fff;
		border-radius: 0;
	}

	body .slider-sect .swiper-pagination-bullet-active{height: 6px;}
	.slider-sect-img{height: 660px;}
}