/*-------------- special-products -----------------*/
.special-products-wrap{
	&__title{
		font-family: var(--font-tenor);
		font-size: 6.4rem;
		line-height: 1.125;
		letter-spacing: 1.2px;
		color: var(--color-dark);
		text-transform: uppercase;
		margin-bottom: 6.4rem;
		padding-top: 6.6rem;
		position: relative;

		&::before{
			content: '';
			width: 215px;
			height: 32px;
			background: url(../img/wave.svg) no-repeat center;
			background-size: contain;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__img{margin-right: -80px;}

	&__content{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 40px;
		height: 100%;
		padding-top: 66px;
	}

	&__btn{margin-left: 60px;}
}

.special-products{
	display: flex;
	gap: 32px;
	margin-right: -142px;
	position: relative;
	z-index: 2;
}

@media (max-width: 991px) {
	.special-products-wrap{
		&__title{font-size: 4rem;}
	}
}

@media (max-width: 767px) {
	.special-products-wrap{
		&__title{
			font-size: 3.2rem;
			text-align: center;
			margin-bottom: 3.4rem;

			&::before{
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}
	}

	.special-products{
		gap: 16px;
		margin-left: -16px;
		margin-right: -16px;
		padding-left: 16px;
		padding-right: 16px;
		overflow-x: auto;

		&__img{
			flex-shrink: 0;
			width: 220px;
		}
	}
}