/*-------------- swiper -----------------*/
body .swiper{display: none;}
body .swiper.swiper-initialized{display: block;}

body .swiper-horizontal > .swiper-pagination-bullets,
body .swiper-pagination-bullets.swiper-pagination-horizontal{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

body .swiper-pagination-bullet{
	width: 12px;
	height: 12px;
	background: url(../img/star-stroke.svg) no-repeat center;
	background-size: contain;
	opacity: 1;

	&:hover{background-image: url(../img/star-fill.svg);}
}

body .swiper-pagination-bullet-active{
	background: url(../img/star-fill.svg) no-repeat center;
}

body .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
body .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 0;
}

body .swiper-pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}