/*-------------- unwrap-block -----------------*/
.unwrap-block{
	margin-bottom: 12px;

	&__head{
		display: flex;
		justify-content: space-between;
		gap: 10px;
		font-family: var(--font-tenor);
		font-size: 1.4rem;
		line-height: 1.4;
		color: var(--color-dark);
		position:relative;
		cursor: pointer;
	}

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 24px;
		height: 24px;

		.icon{color: #A29C90;}
	}

	&__arr{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		margin-left: 10px;
		transition: all 0.2s ease;
		margin-left: auto;

		.icon{color: #14142B;}
	}

	&__content{
		max-height: 0;
		overflow: hidden;
		transition: all 0.5s;
	}

	&.opened &__arr{transform: rotate(180deg);}

	&_line{border-bottom: 1px solid #A29C90;}
	&_line:not(:last-child){margin-bottom: 40px;}

	&_line &__head{
		font-size: 2.4rem;
		color: var(--color-black);
		line-height: 1.25;
		text-transform: uppercase;
		letter-spacing: 1.21px;
		padding-bottom: 23px;
	}

	&_line &__info{
		color: #000;
		padding-bottom: 24px;
	}
}

@media (min-width: 768px) {
	.unwrap-block{
		&__close,
		&__close-btn{
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.unwrap-block{
		&_line &__head{font-size: 1.6rem;}
		&_line:not(:last-child){margin-bottom: 27px;}
		&_line &__arr{transform: rotate(-90deg);}

		&_line &__content{
			display: flex;
			align-items: flex-end;
			width: 100vw;
			height: 100vh;
			max-height: none!important;
			background: rgba(128, 121, 107, 0.35);
			overflow: hidden;
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: -1;
			opacity: 0;
			transition: all 0.4s ease;
		}

		&_line &__info{
			width: 100%;
			height: 80%;
			border-radius: 16px 16px 0 0;
			padding: 36px 20px 24px;
			background: #fff;
			overflow-y: auto;
			position: absolute;
			bottom: -100%;
			left: 0;
			transition: bottom 0.4s ease;

			&::after{
				content: '';
				display: block;
				width: 110px;
				height: 4px;
				background: #D3D0CB;
				border-radius: 4px;
				position: absolute;
				top: 16px;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}

		&_line.opened &__content{
			opacity: 1;
			z-index: 100;
		}

		&_line.opened &__info{bottom: 0;}

		&__close{
			position: absolute;
			top: 16px;
			right: 16px;

			.icon{display: block;}
		}

		&__close-btn{
			margin-top: 40px;

			.btn{width: 100%;}
		}
	}
}