/*-------------- view -----------------*/
.view{
	display: inline-flex;
	align-items: center;
	gap: 8px;

	&__label{
		font-size: 1.6rem;
		font-weight: 800;
		color: var(--color-black);
		text-transform: uppercase;
		transition: color 0.2s ease;
	}

	&__list{
		display: inline-flex;
		gap: 8px;
	}

	&__item{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		opacity: 0.5;
		transition: opacity 0.2s ease;
		cursor: pointer;
		
		.icon{color: var(--color-red);}

		&:hover,
		&.active{
			opacity: 1;
		}
	}
}

@media (max-width: 767px) {
	.view{
		&__label{font-size: 1.2rem;}
	}
}