extends tmpl/_layout

block vars
	- var pageId = 'checkout'
	-
		var breadcrumbs=[
			{href:'#',name:'корзина'},
		];

block body
	.page-top
		.container
			.row
				.col-12
					+breadcrumbs(breadcrumbs)

	section.basket-wrap
		.container
			.row
				.col-12
					.basket
						-
							var list=[
								{img:'basket1.jpg', title:'Бархатный топ'},
								{img:'basket2.jpg', title:'Свитер'},
							]
						each item in list
							.basket__item
								.basket__img-wrap
									.basket__img
										img(src="/upload/"+item.img, alt="")

								.basket__mobile
									.basket__title
										a(href="#")= item.title
									
									.basket__price 12 000

									.basket__params
										.basket__param
											.basket__size m

										.basket__param
											.basket__color(style="background: #0F140D")

								.basket__main
									.basket__title
										a(href="#")= item.title

									.counter
										.counter__toggle
											+svg('ic-minus','ic-minus', '20', '3')

										.counter__field
											input(type="text", value="1")

										.counter__toggle
											+svg('ic-plus','ic-plus', '18', '18')

								.basket__param
									.basket__label Размер
									
									.basket__size m

								.basket__param
									.basket__label цвет

									.basket__color(style="background: #0F140D")

								.basket__price 12 000

								.basket__del
									+svg('ic-bin','ic-bin', '20', '22')

						.basket__bottom
							.row
								.col-lg-6
									.coupon
										.coupon__label Введите промокод для скидки

										.coupon__content
											form
												input(type="text", placeholder="Промокод")
												input(type="submit", value="применить").btn.btn_brown 

								.col-lg-5.offset-lg-1.col-xl-4.offset-xl-2
									.basket-res
										.basket-res__main
											.basket-res__label Итого
											.basket-res__val 12 430

										.basket-res__sale
											.basket-res__label Скидка
											.basket-res__val -2 000

										a(href="#").btn
											+svg('ic-bag','ic-bag', '20', '24')
											|оформить заказ